
$sombra1:rgba(0,0,0,0.7);
$colorprincipal:blueviolet;
$negro: black;

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f6f6f6!important;
   
}


.botonbanner
{
    margin-top: 50px!important;
}
.carousel-inner img
 {
  width: 2000px;
  max-height: 800px;
  padding-right: 126px;
  padding-left: 32px;
}

.carousel-caption 
{
    bottom: 350px;
    

    h3
    {
        font-size: 40px;
    }
        p
        {
        font-size: 20px;
        }
}
.container-fluid
{
    padding-right: 30px;
    padding-left: 30px;
   
}

.gridhead 
{
    grid-area: icons;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.iconos
{
   
    display: flex;
    justify-content: end;
    margin-right: 80px;
    align-items: center;
    gap: 3rem;
    font-size: 22px;
        a {
           color:$negro; 
        }

}
.logotipo
{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: $colorprincipal;
    p{
        margin-left: -292px;
    }

}

.logo
{
    width: 40%;
    margin-top: 20px;
    margin-left: 80px;
       

}
nav ul {
    display: flex;
    gap: 2rem;
    justify-content: start ;
    margin-left: 50px ;
    align-items: flex-end;
}

    nav ul li {
        list-style: none;
        font-size: 23px;
        font-weight: 400px;
    }

        nav ul li a {
            text-decoration: none;
            color: rgb(95, 91, 91);
        }

            nav ul li a:hover {
                color: $colorprincipal;
            }

.indexactive {
    color: rgb(161, 24, 74);
}


footer {
    margin-top: 100px;
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: $negro;


    p {
        font-size: 20px;
        margin-bottom: 10px;
        color: #8c8b8b;
    }

         i {
        font-size: 30px;
        color: #8c8b8b;
        letter-spacing: 30px;
        margin-bottom: 10px;
        }
    }
.subir {
    height: 40px;
    width: 40px;
    background-color: #909090;
    border: 5px solid $negro;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 10px #7e7373;
    color: aliceblue;
   
}



.formcontenedor {
    margin: 100px 0px 0px 400px;
    width: 50%;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 13px 19px 8px 0px $sombra1;
    background-image: url(../imagenes/stacked-waves-haikei.png);
    background-size: cover;
}

.tituloform {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
 
}



.programdownload {
    margin-top: 40px;
    margin-left: 150px;
    width: 80%;
}

#flecha {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 30px;
}

#h2tabla {
    margin: 28px 40px;
}

.fotoprograma {
    width: 80%;
}

.fotoprograma2 {
    width: 75%;
}

.programdescription {
    display: flex;
    align-items: center;
    gap: 2rem;


    h1 {
        color: $negro;
        font-size: 40px;
        margin-bottom: 20px;
        }

        p {
         color: rgb(78, 78, 78);
         font-size: 20px;
         }
    }
.tabla {
    width: 50%;
    height: 150px;
    margin: 67px 0px 76px 150px;
}


.contenedor
{
margin-top: 45px;
height: 1000px;
gap: 2.5rem;
display: grid;
justify-content: center;
grid-template-columns:  1fr ;
grid-template-rows:  1fr 1fr 1fr ;
grid-template-areas: 
"cuadrado1 "
"cuadrado2 "
"cuadrado3 "
;

     p
    {
        font-size: 30px;
        text-align: start;
    }

        p2 
        {
            font-size: 20px;
            font-family: sans-serif;
            text-align: center;
        }
}
.cuadrado1
{
    grid-area: cuadrado1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cuadrado2
{
    grid-area: cuadrado2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.container-xl
{
margin-top: 150px;
}
.cuadrado3
{
    grid-area: cuadrado3 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.textogaleria
{
   p{
    font-size: 23px;
   }
         p2
        {
            font-weight: bold;
            font-size: 23px;
        }
}

.comen1
{
    transform: rotate(-5deg);
    width: 80%;
    padding: 2%;
    margin-left: 70px;
    margin-top: 60px;
}

.comen2
{
    padding: 3%;
    width: 80%;
    transform: rotate(5deg);
    margin-left: 70px;
    margin-top: 60px;
}
.comen3
{
    padding: 3%;
    width: 80%;
    transform: rotate(-5deg);
    margin-left: 70px;
    margin-top: 60px;
}

.servicios
{
    
    top: 80px;
    left: 50px;
    color: rgb(255, 255, 255);
    
     
        h1 
    {
        font-weight: 800;
        margin: 25px 0px 50px 0px;
        font-size: 30px;
        text-align:justify;
        margin-left: 80px;
        -webkit-text-stroke: 2px rgb(140, 140, 140);
    }
       ul li
        {
        margin-bottom: 25px;
       
    }
       
}

.puntoslistas
{
    padding: 20%;
    -webkit-text-stroke: 2px rgb(220, 220, 220);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 2rem;
}
.sombra
{
    box-shadow: 13px 19px 8px 0px $sombra1;
}

.paddingpc2
{
    padding: 0px 100px 0px 60px ;
}
.paddingpc
{
    padding: 100px 100px 0px 50px;  
}

.centradopc1
{
    margin-top: 40px;
    margin-bottom: 20px;
}
.centradopc
{
    margin-bottom: 20px;
}
.fondo
{
    background: rgb(138,43,229);
background: linear-gradient(90deg, rgba(138,43,229,1) 2%, rgba(124,16,120,1) 11%, rgba(124,15,117,1) 12%, rgba(121,9,94,1) 25%, rgba(245,37,89,1) 66%);
}
@media screen and (max-width: 767px) 
{
    .servicios h1
    {
        margin-left: 15px;
    }
    .paddingpc2
    {
        padding: 0px ;
    }
    .paddingpc
    {
        padding: 0px;  
    }

    .centradocelular
    {
        text-align: center;
    }

    .comen1
    {
        margin: 30px 0px 20px 0px;
    }
    .comen2
    {
        margin: 30px 0px 20px 0px;
    }
    .comen3
    {
        margin: 30px 0px 20px 0px;
    }

    .logo
    {
        width: 40%;
        margin-left: 10px;
    }
}


@media screen and (max-width: 1024px) 
{
 .logotipo
 {
     p
     {
        margin-top: 20px;
        margin-left: -90px;
     }
 }
}